ABSA_KE_Final/knowledge_extraction_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="KnowledgeBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Review" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Text" type="xs:string"/>
              <xs:element name="Aspect">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OpinionWords" type="xs:string"/>
                    <xs:element name="Confidence" type="xs:decimal"/>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required"/>
                  <xs:attribute name="sentiment" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
